@charset "utf-8";

@media all and (max-width:960px){
html{font-size:14px;line-height:1.5}
.inner{margin:0 15px}
header.hd02{margin:0;padding:0 15px}
.fc08 .conBody{width:auto;margin:0}
.fc09{width:auto;margin:0}
.pp01 .popupBox{width:100%;left:0 !important}
.tc11 .pp01 .popupBox{left:100% !important;width:22rem !important}
.fc04_04 .conBody{background:none}
.fc14 .outer{width:auto;margin:0}
.tc13 .info{position:absolute;bottom:15px;left:15px;margin-left:0;padding-bottom:20px;display:block}
.ng14 .firstVisit{background-size:100% auto}

}

@media all and (max-width:767px){
html{font-size:14px;line-height:1.5}
.inner{margin:0 10px}
#main-content{padding-top:0 !important}
body.mobile header .inner2{display:block;padding:0}
body.mobile header .mobileHeader{position:absolute;height:67px;background-color:#fff;top:auto;left:0;right:0}
body.mobile header .mobileMenuOpen{float:right;display:block;height:25px;line-height:25px;margin:21px 10px 0 0;text-decoration:none}
body.mobile header .mobileMenuOpen i{font-size:25px;color:#333}
body.mobile header .mobileMenuOpen:active i{color:#1e5eff}
body.mobile header .lg01{float:left;margin:12px 0 0 10px}
body.mobile header nav .mobileMenuClose{display:block;position:absolute;top:0;right:10px;height:25px;line-height:25px;margin:20px 10px 0 0;text-decoration:none}
body.mobile header nav .mobileMenuClose i{font-size:25px;color:#fff}
body.mobile header nav .mobileMenuClose:active i{color:#ccc}

body.mobile header nav{position:fixed;top:48px;left:0;width:100%;height:100%;box-sizing:border-box;padding:70px 10px 10px 10px;background:rgba(30,94,255,0.9);z-index:100;overflow-y:auto}
body.mobile header nav .menu{margin-bottom:0}
body.mobile header nav .menu li{margin-bottom:0}
body.mobile header nav .menu li > a{display:block;height:auto;font-size:18px;font-weight:400;line-height:18px;border-bottom:1px solid #fff;padding:15px 10px}
body.mobile header nav .menu li.search > a{border-bottom:none;padding:15px 10px 10px}
body.mobile header nav .menu li > a:hover{text-decoration:none;color:#333}
body.mobile header .cf02{display:block;margin-bottom:0;padding:0 10px 15px;border-bottom:1px solid #fff;width:auto !important}

header.hd01{position:relative;display:table;height:340px;background-size:contain;}
header.hd01 .background-cover{top:68px;}
header.hd01 .main-slider .slick-prev {width:3rem;height:3rem;right:0;left:auto;-webkit-transform: translate(-100%,0);-ms-transform: translate(-100%,0);transform: translate(-100%,0);top:auto;bottom:0rem;}
header.hd01 .main-slider .slick-next {width:3rem;height:3rem;right:0;left:auto;-webkit-transform: translate(0,0);-ms-transform: translate(0,0);transform: translate(0,0);top:auto;bottom:0rem;}
header.hd01 .main-slider .slick-dots li{width:20px}

header.hd01:after{top:68px;height:272px}
header.hd01:before{content:none}
header.hd01 .td03{position:absolute;max-width:100%;width:100%;left:0;bottom:0;box-sizing:border-box;padding:0.75rem 6rem 0.75rem 1rem;-webkit-transform: translate(0,0);-ms-transform: translate(0,0);transform: translate(0,0);}
header.hd01 .td03 a{font-size:1rem;}
header.hd01 nav .menu li.news, header.hd01 nav .menu li.collection{display:block}

header.hd02{height:68px !important;padding:0 10px}
header.hd02 nav{float:none;margin-top:0}
header.hd02 .cf02{float:none;margin-top:0;width:auto;position:static;background-color:transparent}

header.hd02 .ng04{position:static}
header.hd02 .menu{float:none;margin:0}
header.hd02 .menu li{float:none;margin-left:0;position:relative;background:none;padding-left:0}
header.hd02 .menu li > a{font-size:18px;font-weight:500;color:#fff}
header.hd02 .menu li > a:hover{color:#333}
header.hd02 .menu li.on > a{color:#fff}

footer{overflow:visible;padding:15px 0 0}
footer .lg02{float:none;margin-bottom:15px}
footer .ng03{float:none;margin-top:0;margin-bottom:0}
footer .ng03 li{border-bottom:1px solid #ccc}
footer .ng02{clear:both;margin-bottom:0}
footer address{padding:20px 0;font-size:12px;line-height:18px;text-align:left}
footer address span{display:block}
footer{padding:0 0 20px}
footer .new .lg02{float:none;margin-bottom:1rem;margin-right:0}
footer .new .ng02{clear:both;margin-bottom:0}
footer .new .ng03{float:none;margin-top:0}
footer .new address{float:none;padding:0;margin-bottom:10px}
footer .new address span{display:block}
footer .new .ng22{float:none;margin-top:1rem}
footer .tc11.opened{right:22rem;}
/* frame containers */
.fc01{padding:20px 0 0}
.fc01_01{padding:20px 0 50px}
  
.fc02{padding:0;overflow:hidden}
.fc02 .tc01{float:none;width:auto;margin-left:0;border-bottom:1px solid #ccc;padding:20px 0}
.fc02 .tc01.notice{margin-left:0}
  
.fc03 .header{text-align:left;padding:1rem 0 1rem}
.fc03 .TopA{border-bottom:1px solid #b8b8b8;padding:1rem 0 1rem;overflow:hidden}
.fc03 .TopA .leftF{float:left}
.fc03 .TopA .rightF{float:right}
.fc03 .TopA .rightF .btn01{margin:0 0 0 0.625rem}
.fc03 .lowerA{padding:1.875rem 0 0}
.fc03 .lowerA .uiArea{padding-bottom:10rem}

.fc03 .header{text-align:left;padding:1rem 0 1.6rem}
.fc03 .TopA .leftF{float:none;text-align:center}
.fc03 .TopA .rightF{float:none;text-align:center}
.fc03 .TopA .rightF .btn01{margin:0 0 0 0.625rem}
.fc03 .TopA .td01{margin-bottom:0.6rem;text-align:center}
.fc03 .lowerA{padding:1.875rem 0 0}
.fc03 .lowerA .uiArea{padding-bottom:10rem}

.fc04{padding-bottom:40px}
.fc04 .header{padding:1rem 0 2rem;overflow:hidden}
.fc04 .header .ng06{float:none;margin-bottom:1rem}
.fc04 .header .th01{float:none}
.fc04 .conBody{padding-bottom:5rem;min-height:10rem}
.fc04 .conBody .leftA{float:none;width:auto;padding:0 0 20px}
.fc04 .conBody .rightA{float:none;width:auto}
.fc04 .conBody .postA{padding:1.875rem 1rem;width:auto}
.fc04_07 .conBody .leftA{border-bottom:1px solid #ddd;margin-bottom:3rem}
.fc04_07 .conBody .postA{padding:0}
.fc04_07 .conBody .th01{margin-bottom:2rem}
.fc04_07 .fc16{padding-top:0}
.fc04_07 .cf11 p{padding-top:0}
.fc04_08 .header .btn01{position:static;margin-bottom:0.8rem}
/*포스트 인 경우*/
.post.fc04 .header .box02{border:solid 8px #21A577;padding:1.4rem;}
.post.fc04 .header .box02 h1{color:#333;line-height:1.4;letter-spacing:-1px;word-break:break-word;}

.prev-next .prev-next-links{
	width:100%;
}
.prev-next .prev-next-links li a div:nth-child(1){
	width:29%;
	font-size:13px;
}
.next_img, .prev_img{
	background-position: -8px 2px;
}
.prev-next .prev-next-links li a div:nth-child(2){
	width:70%;
	font-size:13px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
  
.fc04_01 .conBody .leftA{float:none;width:auto;border-bottom:1px solid #ccc;margin-bottom:20px}
.fc04_01 .conBody .rightA{float:none;width:auto}
.fc04_02 .conBody{padding:2.5rem 0}
.fc04_03 .header{padding-bottom:0;overflow:visible}
.fc04_03 .header .th01{float:none;margin-top:0}
.fc04_03 .lowerA{padding-bottom:3.875rem}
.fc04_04 .header{border-bottom:none}
.fc04_04 .th01{border-bottom:2px solid #ccc;margin-bottom:0}
.fc04_04 .th01 > dt{margin-bottom:2rem}
.fc04_04 .conBody{/*! background:url(../images/bg_fc04_04.jpg) repeat-y; background-position:right 0 top*/}
.fc04_05 .lowerA{padding:2.5rem 0 0}
/* 관리자 프레임 */
.fc05{height:100%}
.fc05 .inner{padding:0 0 4rem}
.fc05 .header{padding:1rem 0 0;margin-bottom:2rem}
.fc05 .header .ng06{float:none}
.fc05 .ng05{float:none;width:100%}
.fc05 .conBody{display:none;float:none;width:100%}
.fc05.viewMode .conBody .th02{margin-bottom:1rem}

.fc06 .leftA{float:none;width:auto}
.fc06 .rightA{float:none;width:auto;padding-bottom:3.75rem}
.fc06 .rightA .ng05{margin-top:1.875rem}

.fc07{padding-right:00}
.fc07 .rightBox{position:static;width:auto}
.fc07 .rightBox ul{margin:0}
.fc07 .rightBox ul li{padding:0}
.fc07 .rightBox ul li:before{content:none;padding:0}
.fc07 .rightBox p{margin-bottom:0}

.fc07_01{padding:15px}

.fc08 .header{padding:1rem 0 0}
.fc08 .header .ng06{float:none}
.fc08 .conBody{width:auto;margin:0}
.fc08 .conBody h1{margin-bottom:20px;padding:10px 0}

.fc10 .leftF{float:none}
.fc10 .rightF{float:none}
.fc10 .th07{margin-bottom:1rem}
.fc10 .pg03{float:left}
.fc10 .cf10{text-align:center;margin-bottom:0.5rem}
.fc10 .btn01{margin-bottom:1rem;width:100%;height:2.5rem;line-height:2.5rem}
.fc10 .btn02_01{display:block;margin:0 auto;margin-bottom:1rem;width:50%}
  
.fc11 .leftA,
.fc11.transcriptMode .leftA{float:none;width:auto;padding-right:0;border-right:none;border-bottom:1px solid #ccc;padding-bottom:2rem;margin-bottom:2rem}
.fc11 .rightA,
.fc11.transcriptMode .rightA{float:none;width:auto}

.fc12 .btn04{font-size:0;width:auto;padding:0 10px}
.fc12 .btn04 i{font-size:16px;line-height:2.625rem;margin-right:0}

.fc15{padding:0 0 10rem}
.fc15 .btnA{text-align:center}
.fc15 .btnA a{margin:0 0 0.5rem;display:block}
  
.fcs01 .menuA{padding-left:0}
.fcs01 .menuA02{padding-left:0}
.fcs01 .subMenuA{padding-left:1.5rem;padding-top:1rem}
  
.menuA02 .fcs02{float:left;width:32%;margin-bottom:2%;margin-right:2%}
.menuA02 .fcs02:nth-child(3n){margin-right:0}
/*
.fcs01.sc .menuA02 .fcs02{width:33.3333%}
.fcs01.sc .menuA02 .fcs02:nth-child(3n){border-right:1px solid #cbcbcb}
*/
  
  
.unit{font-size:16px;line-height:1.5}
  
/* introduce page */
.con01{margin-bottom:6rem}
.con01 .banner dl{bottom:15px;left:15px}
.con01 .banner dl dd{font-size:2rem}

.con01 .unit01 .interview .thumb{float:none;margin-right:0;width:auto;height:auto}
.con01 .unit01 .interview .thumb img{width:100%;min-height:0;height:auto}
.con01 .unit01 .interview dl{padding: 1rem 0 0 0}
.con01 .unit01 .interview dl dd .sign img{width:100px}
.con01 .unit01 .pass .tbl01 td.t01{width:33%;padding:0.1rem 1rem}
.con01 .unit01 .pass .tbl01 td.t02{padding:0.1rem 1rem}
.con01 .unit01 .pass .tbl01 ul{margin-left:10px}
.con01 .unit01 .pass .tbl01 li{padding-left:10px}
.con01 .unit01 .history dd li strong{width:auto}

.con01 .unit02 .documents{background-color:#f1f3f5;padding:1px 20px}
.con01 .unit02 .documents li{margin:2rem 1rem 2rem 1rem}
.con01 .unit02 .documents li .thumb{margin-bottom:10px}
.con01 .unit02 .documents li dt{line-height:16px}

.con01 .unit03 .currents{overflow:hidden}
.con01 .unit03 .currents li{float:left;width:48%;margin:0 4% 5% 0}
.con01 .unit03 .currents li.l3,
.con01 .unit03 .currents li.l6{margin-right:4%}
.con01 .unit03 .currents li.l2,
.con01 .unit03 .currents li.l4,
.con01 .unit03 .currents li.l6{margin-right:0}
.con01 .unit01 .history dt{width:23.45%;padding:2.6rem 0}
.con01 .unit01 .history dt h3{font-size:1.125rem;line-height:1.5}
.con01 .unit01 .history dt p{font-size:1.125rem;line-height:1.5rem;color:#333}
.con01 .unit01 .history dd{float:right;width:73.5%;border-top:2px solid #ccc;padding:2.5rem 0}
.con01 .unit01 .history dd li .expandA{clear:both;display:none;margin:0.8rem 0 0.8rem 0.8rem}
.con01 .unit01 .history dt{float:none;width:100%;padding:1em 0 0 0;box-sizing:border-box;margin-bottom:0;}
.con01 .unit01 .history dt p{font-size:1.1em;line-height:1.4}
.con01 .unit01 .history dd{float:none;width:100%;padding:1rem 0;box-sizing:border-box;border-top:none;}
.con01 .unit01 .history dd li strong{display:block;margin-top:10px;}

/* yongsan diqital exhibit */

.con02 .conHeader .topA{background-size:auto 100%;height:35rem}
.con02 .conHeader .topA dl{padding-top:3rem;height:35rem}
.con02 .conHeader .topA dl dd.info{line-height:1.4rem}
.con02 .conHeader .lowerA{padding:2rem 0}
.con02 .conHeader .lowerA .summery dt{float:none;width:auto;margin-right:0;border-bottom:1px solid #fff;padding-bottom:2rem;margin-bottom:2rem}
.con02 .conHeader .lowerA .summery dt br{display:none}
.con02 .conHeader .lowerA .summery dd{float:none;width:auto}

.con02 .conHeader .lowerA .summery{font-size:16px;line-height:1.5}
  
.con02 .unit{padding:2rem 0}
.con02 .unit h2{font-size:32px;line-height:1.5;margin-bottom:20px}
.con02 .unit h2 br{display:none}
.con02 .unit .picture{margin-bottom:2rem;border-bottom:1px dashed #ccc;padding-bottom:2rem}
.con02 .unit .picture dt p{margin-bottom:2rem;font-size:16px;line-height:1.5}
.con02 .unit .picture dd p{text-align:left}
.con02 .unit .picture dt .btn01{margin-bottom:2rem}
.con02 .unit .type01 dt{float:none}
.con02 .unit .type01 dd{float:right}
.con02 .unit .type02 dt{float:none}
.con02 .unit .type02 dd{float:left}

.con02 .unit01{padding-bottom:18rem;position:relative}
.con02 .unit01 .type01 dt{width:auto}
.con02 .unit01 .type01 dd{width:auto}
.con02 .unit01 .type02{margin-left:0;border-bottom:none}
.con02 .unit01 .type02 dt{width:auto;padding-top:0}
.con02 .unit01 .type02 dd{width:auto}
.con02 .pictureInfo dl{color:#fff}
.con02 .pictureInfo dt{display:inline;font-size:1.125rem}
.con02 .pictureInfo dd{display:inline;font-size:0.875rem}

.con02 .unit02{padding-bottom:10rem}
.con02 .unit02 h2{margin-left:0}
.con02 .unit02 .type02 dt{width:auto;padding-right:0}
.con02 .unit02 .type02 dd{width:auto}
.con02 .unit02 .type01{border-bottom:none}
.con02 .unit02 .type01 dt{width:auto;padding-top:0}
.con02 .unit02 .type01 dd{width:auto}

.con02 .unit03{background:none;padding-bottom:0}
.con02 .unit03 .type03{width:auto;margin-bottom:0;border-bottom:none;padding-bottom:0}
.con02 .unit03 .type03 dd{margin-bottom:2rem;width:auto}

.con02 .unit04{background:none;border-top:1px solid #ccc}
.con02 .unit04 h2{margin-left:0}
.con02 .unit04 .type03{margin-left:0;padding-bottom:0;border-bottom:none}
.con02 .unit04 .type03 ul li{float:none;width:auto;margin-bottom:2rem}
.con02 .unit04 .type03 ul li:first-child{float:none;width:auto}
.con02 .unit04 .pictureInfo{display:none}

.con02 .conFooter{padding:1rem 0;line-height:1.4rem}
  
/* research guide - new */
.con03 .unit{float:none;border-right:none;width:auto;padding-right:0;margin-bottom:2rem}
.con03 .unit .leftA{padding:1.5rem 0 0rem}
.con03 .unit .rightA{position:static;width:auto;margin-left:0;padding:0;border-top:none}
.con03 .unit .leftA ul{margin-left:1rem}
.con03 .unit00 .leftA{padding-top:0;border-top:none;padding-bottom:0}
.con03 .unit00 .rightA{padding:0;border-top:1px solid #ccc}
.con03 .unit01 .leftA{padding:1.5rem 0 0rem}
.con03 .links ul li a i{top:1rem}
.con03 .unit04 .links.list{margin-bottom:1rem}
  
/* organization page */
.con04{margin-bottom:6rem}
.con04 .banner dl{bottom:15px;left:15px}
.con04 .banner dl dd{font-size:2rem}
.con04 .unit{margin-bottom:2rem}
.con04 .unit dt{float:none;width:auto;margin-right:0;padding-top:0;border-top:none}
.con04 .unit dt h2{margin-bottom:1rem;font-size:1.6rem}
.con04 .unit dt p{display:none}
.con04 .unit dd{float:none;width:auto}
.con04 .unit dd>ul>li{margin-bottom:1.5rem;overflow:hidden}
.con04 .banner dl dt{font-size:22px}
.con04 .banner dl dd{font-size:22px}

/*
.con04 .unit dd .name{width:26%;margin-right:2%;font-size:1rem}
.con04 .unit dd .tel{width:22%;margin-right:2%;font-size:1rem}
.con04 .unit dd .task{width:48%}
.con04 .unit dd li:first-child .name{border-top:3px solid #ccc;padding-top:1rem}
.con04 .unit dd li:first-child .tel{;border-top:3px solid #ccc;padding-top:1rem}
.con04 .unit dd li:first-child .task{border-top:3px solid #ccc;padding-top:1.4rem}
.con04 .unit dd .task li:before{top:-4px}
*/
.con04_02 .unit{margin-bottom:2rem}
.con04_02 .unit dt{float:none;width:auto;margin-right:0;padding-top:0}
.con04_02 .unit dt strong{margin-bottom:0.5rem}
.con04_02 .unit dd{padding-top:1rem;width:auto}
.con04_02 .unit dd>ul>li>*{float:left;border-top:1px solid #ddd;margin:0;padding:0 0 1.6rem}
.con04_02 .unit dd .info{margin-bottom:1rem;margin-right:0}

.con04_02 .unit dd .chief{width:45%}
.con04_02 .unit dd .chief b{float:left;width:45%;font-size:0.875rem}
.con04_02 .unit dd .chief tel{float:right;width:45%;font-size:0.875rem}

.con04_02 .unit dd>ul>li .part{float:none;width:auto;margin-right:0;padding-top:0;border-top:none;padding-bottom:6px}
.con04_02 .unit dd>ul>li .task{width:50%;margin-right:5%;padding:0.875rem 0 0;overflow:visible}
.con04_02 .unit dd>ul>li .task .desc{width:85%}
.con04_02 .unit dd>ul>li .task .toggle{top:0.875rem}
.con04_02 .unit dd>ul>li .staff{width:45%;font-size:0.875rem}
.con04_02 .unit dd>ul>li .staff b{float:left;width:45%}
.con04_02 .unit dd>ul>li .staff tel{float:right;width:45%;font-size:0.875rem}
.con04_02 .unit dd>ul>li .staff li:first-child b{padding-top:0.875rem}
.con04_02 .unit dd>ul>li .staff li:first-child tel{padding-top:0.875rem}
.con04_02 .unit01 dd strong{margin-right:3rem}

.con06 .unit06 .cf11{width:auto}
.con06 .unit02 .conA p{margin-right:0}
.con06 .unit05 .planA{padding:1rem}
.con06 .unit05 .planA .textA{width:auto;float:none}
.con06 .unit05 .planA .imageA{width:auto;float:none;text-align:center}
.con06 .unit05 .planA .thumb{display:block;margin:0 auto 1rem}

/* header search form */
.cf02 fieldset{position:relative}
.cf02 fieldset input{float:left;height:40px;width:100%;margin-right:0;margin-left:0;text-indent:10px;font-size:12px;border-bottom:none;color:#333;background-color:#fff}
.cf02 fieldset button{position:absolute;right:0;bottom:0;height:40px;width:40px;background-color:#fff;color:#ccc;margin-left:0;background:#fff url(../images/btn_search.png) no-repeat center center;text-indent:-9999px;background-size:15px}
.cf02 .ui-selectmenu-button{border-radius:0;border:none;border-bottom:none;height:40px;min-width:100%;font-size:12px;color:#333;margin-right:0;margin-bottom:5px;background-color:#fff}
.cf02 .ui-selectmenu-button span.ui-icon{background:url(../images/bl_arr01.png) no-repeat center center;background-size:10px 8px;right:12px}
.cf02 .ui-selectmenu-button span.ui-selectmenu-text{padding:0 10px;height:40px;line-height:40px}
.ui-menu{border:1px solid #fff;background-color:#fff}
.ui-menu .ui-menu-item{padding:0.6em 1em;font-size:12px}

.hd02 .cf02 fieldset label{display:none}
.hd02 .cf02 fieldset input{height:40px;width:100%;margin-right:0;margin-left:0;font-size:12px;background-color:#fff;border:none;color:#333}
.hd02 .cf02 fieldset button{position:absolute;right:0;bottom:0;height:40px;width:40px;background-color:#fff;color:#333;margin-right:0;margin-left:0}
.hd02 .cf02 fieldset .closeBtn{display:none}
.hd02 .cf02 .ui-selectmenu-button{border-radius:0;border:none;border-bottom:none;height:40px;min-width:100%;font-size:12px;color:#333;margin-right:0;margin-bottom:5px;background-color:#fff}
.hd02 .cf02 .ui-selectmenu-button span.ui-icon{background:url(../images/bl_arr01.png) no-repeat center center;background-size:10px 8px;right:12px}
.hd02 .cf02 .ui-selectmenu-button span.ui-selectmenu-text{padding:0 10px;height:40px;line-height:40px}
.hd02 .cf02 fieldset p{display:none}
  
/* main mail letter form */
.cf03{background-size:auto 100%;padding:40px 0 40px;height:auto}
.cf03 dl{margin-bottom:2rem;margin:0 20px 15px}
.cf03 fieldset input{float:left;width:67%;margin-left:10px;height:50px}
.cf03 fieldset button{float:right;width:25%;height:50px;padding:0;margin-right:10px}
.fc03 .mobileSearch{display:block}
.cf03_01 fieldset button{float:none;width:auto;height:30px;padding:0 10px;margin-right:0}
.cf03_01 dl dd br{display:none}
  
/* search facet option*/
.cf04 dl{padding:10px 10px}
.cf04 dl dt{margin-bottom:0}
.cf04 dl dd li{margin-bottom:0.6rem;padding-left:1.8rem}
.cf04 dl dd li input{top:0.2rem}
.cf04 input[type='submit']{width:5rem;height:2rem;border:none;line-height:2rem;font-size:1rem;cursor:pointer}
.cf04 dl dd input.refine {margin:5px 0 0}
/* member login,join form */
.cf05 p.input label{width:27%}
.cf05 p.input input{width:73%;margin-left:-4px}
.cf05 p.input label.error{margin-left:27%}
.cf05.login p.check{padding-left:27%}
  .cf05 p.check{height:auto;line-height:2;padding:5px 0}
.cf05 p.check span{margin:0;display:block}
.cf05 p.check2 > label{width:27%}
.cf05 p.check2 > span{width:73%;margin-left:-4px}
.cf05 p.check2 > span > span{float:left;width:50%}

/* list search form */
.cf06{padding-bottom:10px}
.cf06  input{width:70%}
.cf06  button{width:29%}
.cf06.addMemberType{text-align:left}
.cf06.addMemberType input#type_name{width:60%;margin-bottom:6px}
.cf06.addMemberType input#type_code{width:60%}
.cf06.addMemberType  button{width:39%}
  
.cf06.adminRPL .status h5{display:block;font-size:1rem;width:15%;height:1rem;line-height:1.6rem}
.cf06.adminRPL .status span{display:inline-block;margin-right:1rem;height:3rem;line-height:3rem}
.cf06.adminRPL .status input{width:auto}
.cf06.adminRPL .status .btn02{height:3rem;line-height:3rem;float:right;width:20%}

/* notice write form */
.cf07 dl dt{width:25%;padding:0 0 0 1rem}
.cf07 dl dd{padding:0.6rem 1rem}
.cf07 dl.file .fake span{width:60%;margin-right:2%}
.cf07 dl.file .fake a{width:38%;height:2.125rem;line-height:2.125rem;margin-left:-4px;padding:0}
.cf07.imageTileWrite dt{width:27%}

.cf07 .submit{text-align:center}
.cf07 .submit button{margin-left:0.4rem}
.cf07.noticeWrite .tc06 .searchA label{width:31%}
.cf07.noticeWrite .tc06 .searchA input{width:45.5%}
.cf07.noticeWrite .tc06 .searchA button{width:22%}

.cf07.typeGuideWrite dl.check.target span{min-width:0;margin-right:1.25rem}
/* popup form */
.cf08 .leftA{float:none;width:auto;margin-bottom:1.875rem}
.cf08 .rightA{float:none;width:auto;margin-bottom:1.875rem}
.cf08 ul{margin-bottom:1.25rem;height:auto;overflow-y:hidden}
.cf08 ul li{line-height:1.8125rem;width:50%;float:left}
.cf08 textarea{height:80px}
.cf08 .submit{padding-top:1rem}

.cf08_01 fieldset{margin-bottom:1rem}
.cf08_01 ul{height:auto}
.cf08_01 ul li{width:50%;float:left}
.cf08_01 .input{margin-bottom:1rem}
.cf08_01 .input label{position:absolute;text-indent:-9999px}
.cf08_01 .file label{position:absolute;text-indent:-9999px}
.cf08_01 .input input{width:100%;font-size:1rem}
.cf08_01 .content{margin-bottom:1.5rem}
.cf08_01 textarea{width:100%;height:8rem;font-size:1rem}
.cf08_01 .file input[type=file]{visibility:hidden;position:absolute}
.cf08_01 .file .fake span{display:inline-block;border:1px solid #e6e6e6;height:2.125rem;line-height:2.125rem;width:70%;vertical-align:top;margin-right:2%;box-sizing:border-box;padding:0 0.625rem;font-size:0.75rem}
.cf08_01 .file .fake a{width:28%;height:2.125rem;line-height:2rem;margin-left:-4px;font-size:1rem;padding:0}

.cf08_02 .trg01{float:none;margin-bottom:0.4rem}
.cf08_02 .tsg01{float:none}
.cf08_02 textarea{height:14rem}

/* detail search form */
.cf09 dl{padding:1.5rem}
.cf09 dl dt{padding-bottom:1.5rem}
.cf09 dl.keyword dd label{width:14%}
.cf09 dl.keyword dd ul{width:86%;float:left;overflow:hidden}
.cf09 dl.check dd{overflow:hidden}
.cf09 dl.check dd span{float:left}
.cf09 dl dt em{margin-left:20px;}
.cf09 dl.check{padding: 1.5rem}
.cf09 dl.fields ul li label{width:30%}
.cf09 dl.fields ul li input{width:38%}
.cf09 dl.fields ul li select{width:20%}
.cf09 dl.dates{overflow:hidden}
.cf09 dl.dates .date{float:none;display:block;width:auto;padding-left:10%;overflow:hidden}
.cf09 .submit .btn01{padding:0 30px}
  
/* 고객문의 커뮤니티 검색창 */
.cf12{height:auto;margin-bottom:3rem;padding:2rem 2rem;box-sizing:border-box;background-size:auto 100%}
.cf12 form{overflow:hidden;margin-bottom:2rem}
.cf12 ul{overflow:hidden}
  
.cf13{padding:2.5rem 2rem;margin-bottom:2.5rem}
  
.cf14 .requestA{padding:1.5rem 1.5rem}
.cf14 .requestA.opened{padding:1.5rem 1.5rem 0}
.cf14 table th{padding-top:0.3rem;line-height:1.5rem}
.cf14 table td input[type=text],
.cf14 table td input[type=email],
.cf14 table td input[type=password]{width:100%}
.cf14 table td label.error{display:none}
.cf14 #change-publication-no{width:40%}
.cf14 #publication-media{width:50%}
.cf14 table td label{margin-right:1rem}
.cf14 table td.pageInfo input[type=text]{width:2rem}
.cf14 table td .term input[type=text]{width:3rem}
.cf14 table td.changeReason input[type=text]{width:9rem}
.cf14 .commentB{padding:1.5rem 1.5rem;line-height:1.5rem}
.cf14 .btnA{padding:1.5rem 1.5rem}
.cf14 #openning-limit strong{display:block}
.cf14 #term label{display:block}
.cf14 .pageInfo label{display:block}
.cf14 .publishsearchResult thead th{padding:0.6rem;font-size:0.8rem;line-height:1rem;text-align:center;}
.cf14 .publishsearchResult .t01{display:none}
.cf14 .publishsearchResult .t03{display:none}
.cf14 .publishsearchResult .t04{display:none}
.cf14 .publishsearchResult .t06{display:none}
.cf14 .publishsearchResult tbody td{padding:0.3rem}
  
.lc14_02{margin-bottom:3rem}
.lc14_02 li{overflow:hidden}
.lc14_02 li>a{width:78% !important;}
.lc14_02 li>a> em{width:12% !important;line-height:1.6rem;font-size:1.6rem;text-align:left !important}
.lc14_02 li>span{text-align:left}
.lc14_02 li>span a{padding:1.2rem 0}
.lc14_02 li a.ui-draggable-dragging{width:2rem;height:2rem}
.lc14_02 .btnA{margin-top:2rem;border-top:1px solid #ccc;padding-top:2rem;text-align:right}
.lc14_02 .btnA button{vertical-align:top;margin-left:0.5rem}

.cf15 input{width:65%;height:30px}
.cf15 button{width:33%;padding:0;height:30px;vertical-align:top}

.cf17{overflow:hidden}
.cf17 form{float:none;width:auto}
.cf17 .stencilA{position:static;float:none;width:auto;margin-top:2rem}
.cf17 .collection-title label{width:25%}
.cf17 .collection-title input{width:75%}
	
.cf17 .collection-basic-info .cf07 dl.file .button{margin-top:0.4rem}
.cf17  .btnA button{margin-top:0.3rem}

/* browse view slider */
.ib03 .imgScale li a{padding:0 1rem}
.ib03 .slick-prev{background-size:40%}
.ib03 .slick-next{background-size:40%}

/*
.ib03 .fullImage{display:none;position:fixed;top:0;left:0;width:100%;height:100%;padding:10px}
.ib03 .fullImage .thumb{float:none;width:auto;height:100%;padding-right:0;border-right:none}
.ib03 .fullImage .thumb img{width:100% !important;height:auto !important}
.ib03 .fullImage .control{float:none;width:100%;padding-left:0;position:absolute;bottom:0;left:0;padding:10px;box-sizing:border-box}
.ib03 .fullImage .control a{float:left;width:3.375rem;height:3.375rem;line-height:3.375rem;font-size:2rem;text-align:center;border:1px solid #e6e6e6;background-color:#fff}
.ib03 .fullImage .control a.prev{border-right:none}
.ib03 .fullImage .control a:hover{text-decoration:none;background-color:#eee}
.ib03 .fullImage .control a.close{float:right}
.ib03 .fullImage .control .imgControl{position:static;float:left}
*/
.fullViewMode .ib03{left:0;top:0;bottom:5rem;width:100%;height:auto;border-right:none}
.fullViewMode .ib03 .imgScale{/*! position:fixed; */}
.fullViewMode .ib03 .slick-dots{/*position:fixed*/}

  /* collection main slider */
.ib04{height:auto}
.ib04 .slide li a b{padding:1rem 1rem 1rem;color:#fff;font-size:1.25rem;line-height:1.8rem}
.ib04 .slick-dots{bottom:0rem}
.ib04 .slick-dots li{width:0.8rem}
.ib04 .slick-dots li button{width:0.6rem;height:0.6rem;border-radius:0.6rem}

/* yongsan view slider */
.ib05{margin-bottom:0rem}
.ib05 .picSlide{margin-bottom:1rem}
.ib05 .picSlide .slideA{float:none;width:auto}
.ib05 .picSlide .contentA{float:none;width:auto;padding-right:7rem}
.ib05 .picSlide .slideControl{position:absolute;top:0;right:0;height:5rem}
.ib05 .picSlide .slideA{position:relative}
.ib05 .picSlide .slideA dt{height:24rem;line-height:24rem}
.ib05 .picSlide .slideA dt img{box-shadow:3px 8px 7px #999}
.ib05 .picSlide .slideA dd{padding:47px 15px 15px 15px;line-height:1.4rem}
.ib05 .picSlide .slideA .imgScale{top:24rem}
.ib05 .picSlide .slick-dots{bottom:inherit;bottom:1rem;right:1rem}
.ib05 .slick-dots li{color:#fff}
.ib05 .picSlide .slick-dots b{letter-spacing:0;color:#fff}
.ib05 .picSlide .contentA p{margin-bottom:1rem}

.ib05 .pagingSlide{height:10rem;line-height:10rem}
.ib05 .pagingSlide .slide{padding-top:1.2rem}
.ib05 .pagingSlide .slide li{padding:1rem 0.5rem}
.ib05 .pagingSlide .slide li a{display:block;box-shadow:0rem 0.5rem 0.5rem #999}
.ib05 .pagingSlide .slide li a img{height:5rem;display:block}
.ib05 .pagingSlide .slide li.slick-current a:before{border:0.3rem solid #1e5eff}
.ib05 .pagingSlide .slideControl a{line-height:10rem}

.ib05 .fullImage{display:none;position:fixed;top:0;left:0;width:100%;height:100%;padding:10px}
.ib05 .fullImage .thumb{float:none;width:auto;height:100%;padding-right:0;border-right:none}
.ib05 .fullImage .thumb img{width:100% !important;height:auto !important}
.ib05 .fullImage .control{float:none;width:100%;padding-left:0;position:absolute;bottom:0;left:0;padding:10px;box-sizing:border-box}
.ib05 .fullImage .control a{float:left;width:3.375rem;height:3.375rem;line-height:3.375rem;font-size:2rem;text-align:center;border:1px solid #e6e6e6;background-color:#fff}
.ib05 .fullImage .control a.prev{border-right:none}
.ib05 .fullImage .control a:hover{text-decoration:none;background-color:#eee}
.ib05 .fullImage .control a.close{float:right}
.ib05 .fullImage .control .imgControl{position:static;float:left}

.ib07{margin:1rem 0 1.5rem;min-height:14rem}
.ib07 img{height:100%}
.ib07 .titleA{padding: 1.4rem;position: relative;background:#000}
.ib07 .titleA h1{font-size:1.6rem;line-height:3rem}
.ib07 .titleA p{font-size:1rem;line-height:1.6}

.ic01{height:1.1rem;}

/* main informaition */
.lc01{margin-bottom:20px}
.lc01 li{width:50%;border-right:1px solid #fff;border-bottom:1px solid #fff;box-sizing:border-box}
.lc01 li a{}
.lc01 li a span strong{display:block;padding:15px 15px}
.lc01 li a span i{top:inherit;bottom:1rem}

.lc02_01 dd{margin-left:0}
/* search result list */
.lc04 li .thumb{float:left;width:10rem;height:7.4rem;line-height:7.4rem;overflow:hidden;margin-right:10px}
.lc04 dl{padding-top:0}
.lc04 dt{margin-bottom:0}
.lc04 dt a{font-size:18px}
.lc04 dd.date{margin-bottom:5px}
.lc04 dd.sum{line-height:1.4rem;max-height:4rem}
.lc04 li.fix dt a:after{background-size:100% auto}

.lc06 > dt{font-size:20px;line-height:1.5}
  
/* collection main bookmarks */
.lc07{margin-bottom:1.5rem}
.lc07 h2{font-size:1.5rem;margin-bottom:2rem}
.lc07 .bookmarks dl{width:100%;padding:1.25rem;margin-bottom:20px}

/* collection detail featured */
.lc09{margin-bottom:3rem}
.lc09 ul{overflow:hidden}
.lc09 ul li{float:none;width:auto;margin-right:0;margin-bottom:3rem}
.lc09 ul li .thumb{height:auto}
.lc09 ul li .thumb img{display:block;margin:0 auto}
.lc09 ul li .thumb img.fillheight{max-height:19rem}

.lc10{margin-bottom:3rem;background-color:#eee;padding:1rem 0}
.lc10 ul li{float:none;width:auto;margin-left:0;margin-bottom:2rem}
.lc10 ul li .thumb{height:auto}
.lc10 ul li .thumb img{display:block;margin:0 auto}
.lc10 ul li .thumb img.fillheight{max-height:19rem}

/* 고객문의 커뮤니티 리스트 */
.lc11 li{padding:2rem 0 2rem }
.lc11 li.question:before{font-size:22px;width:8%}
.lc11 li.answer:before{font-size:22px;width:8%}
.lc11 li dl{width:92%}
.lc11 li dl dt{width:75%}
.lc11 li dl dd{width:25%;line-height:1.5rem}

.lc11_01 li{padding:2rem 0 2rem 0}
.lc11_01 li.question:before{width:8%}
.lc11_01 li.answer:before{width:8%}
.lc11_01 li dl{width:92%}
.lc11_01 li dl dt{width:100%}
.lc11_01 li dl dd{width:100%}

/* 컬렉션 메인 - 헤드라인 */
.lc12 h2{font-size:1.2rem}
.lc12 li a .thumb{float:left;width:50%;height:auto;margin-right:1rem;max-height:10rem}
.lc12 li a .conA{display:block;padding-top:0}
.lc12 li a .conA strong{font-size:1.5rem;margin-bottom:0.6rem;padding-left:55%;}
.lc12 li a .conA em{clear:both;padding-top:1rem;}

/* 컬렉션 메인 - 헤드라인2 */
.lc13 h2{margin-bottom:1rem;font-size:1.2rem}
.lc13 ul{overflow:hidden}
.lc13 ul li{float:left;width:48%;height:20rem;margin-right:2%;margin-bottom:1.875rem}
.lc13 ul li.l3, .lc13 ul li.l6, .lc13 ul li.l9{margin-right:2%}
.lc13 ul li.l2, .lc13 ul li.l4, .lc13 ul li.l6, .lc13 ul li.l8, .lc13 ul li.l10{margin-right:0}
.lc13 ul li .thumb{height:12rem;margin-bottom:0.6rem}
.lc13 ul li .thumb.type02 i.t01{height:12rem;line-height:12rem}
.lc13 ul li .thumb.type02 i.t02{float:right;width:33.1%;height:6rem;line-height:6rem}
.lc13 ul li .thumb.type02 i.t03{float:right;width:33.1%;height:6rem;line-height:6rem}
/* 컬렉션 사진목록 - 콘텐츠리스트 */
.lc14 p.count{padding-left:0}
.lc14 li a{display:block;padding:1rem 1.2rem}
.lc14 li a strong{width:80%;font-size:1.2rem;line-height:1.6rem}
.lc14 li a em{width:20%;text-align:right}
/*검색결과 리스트*/
.lc15 li{padding:1rem}
.lc15 li .thumb{float:none;margin-right:0;width:100%;height:auto;margin-bottom:10px}
.lc15 li dl{margin-left:0}
  /*검색결과 리스트 - 카드형*/
.lc16 li{width:auto;float:none;margin-right:0}

/* logo */
.lg01 a{display:block;width:81px;height:45px}
.lg01.beta a:after{top:25px;left:90px}
header.hd02 .lg01 a{width:81px;height:45px}
header.hd02 .lg01.beta{position:relative}
header.hd02 .lg01.beta a:after{top:25px;left:90px}
header.hd01 .lg01 a{background-image:url(../images/logo@2x.png)}
.lg02 a{display:block;width:81px;height:45px}

/* footer menu1 */
.ng02{margin-bottom:2.2rem;border-top:none}
.ng02 dl{float:none;width:auto;margin-bottom:25px}
.ng02 dl dt{border-top:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;height:auto;line-height:15px;margin-bottom:5px;padding:10px}
.ng02 dl dt a{font-size:15px;font-weight:600}
.ng02 dl dd{padding-left:10px}
.ng02 dl ul li{margin-bottom:5px}
footer .new .ng02 dl dt{border-bottom:1px solid #cbcbcb;height:auto;line-height:15px;margin-bottom:10px;padding:12px 10px 8px}
footer .new .ng02 dl dd{padding-left:10px}
/* footer menu1 */
.ng03{display:table;width:100%}
.ng03 li{float:none;display:table-cell;text-align:center;border-bottom:none;}
.ng03 li a{display:block;padding:0.6rem 0.8rem;height:auto;line-height:1rem;font-size:1rem}
footer .new .ng03 li:first-child{margin-left:0}
footer .new .ng03 li:first-child a{padding-left:0}

.ng03_01{display:block}  
.ng03_01 li{float:left;display:block;border-bottom:1px solid #ccc}
  
/* 헤더 lnb메뉴 */
.ng04 li{margin-top:0}
.ng04 li a{display:block;height:auto;font-size:1.125rem;font-weight:400;line-height:1.125rem;border-bottom:1px solid #fff;padding:15px 10px}
.ng04 li a:hover{color:#333}
header.hd02 .ng04 li{display:block;margin:0}
header.hd02 .ng04 li a{display:block;height:auto;font-size:1.125rem;font-weight:400;color:#fff;line-height:1.125rem;border-bottom:1px solid #fff;padding:15px 10px}
/* 관리자 메뉴 */
.ng05{height:auto !important;margin-bottom:2rem}
.ng05 > li{width:100%}
.ng05 > li:first-child{border-top:1px solid #e6e6e6}
.ng05 > li > a{font-size:1.2rem}
.ng05 > li.on > a{border-left:none;border-right:none;border-bottom:1px solid #e6e6e6}
.ng05 > li > dl{display:none;position:static;width:auto;height:auto;margin:0 15px;border-top:none}
.ng05 > li > dl dt{display:none}
.ng05 > li > dl li{border-bottom:1px solid #e6e6e6}
.ng05 > li > dl li:last-child{border-bottom:none}
.ng05 > li > dl li a{padding:1rem;background-size:7.14px 10px;background-position:right 1.25rem center}
.ng05 > li > dl li a strong{margin-bottom:0.2rem;line-height:1.2rem}
.viewMode .ng05 > li > dl{border-left:none;border-right:none}
/* list filter option */
.ng07 li{float:left;margin-left:5px;margin-bottom:0.625rem}
.ng07 li a{display:block;height:2.5rem;line-height:2.5rem;border:1px solid #cbcbcb;background-color:#e4e4e4;color:#212121;padding:0 1.25rem}
.ng07 li a:hover{text-decoration:none;background-color:#666;color:#fff}
.ng07 li a i{margin-right:0.3125rem;font-size:1.125rem}
.ng07 .ui-selectmenu-button{border-radius:0.1875rem;border:1px solid #cbcbcb;background:#e4e4e4;min-width:8.125rem;font-size:1rem;color:#212121;vertical-align:top}
.ng07 .ui-selectmenu-button span.ui-icon{background:url(../images/bl_arr01.png) no-repeat center center;right:0.9375rem}
.ng07 .ui-selectmenu-button span.ui-selectmenu-text{padding:0.5625rem 1.25rem 0.5625rem}
.ng07_01{padding:0.625rem 0 0 0}
.ng07_01 li.on a{background-color:#666;border-color:#666;color:#fff}
.ng07_02{padding:1.4rem 0 0 0;text-align:center}
.ng07_02 li{float:none;display:inline-block;width:100%;margin-left:0}
.ng07_02 li.on a{padding:0;background-color:#666;border-color:#666;color:#fff}
/* search filter */
.ng08 dl{float:none;width:80%}
.ng08 .ui-buttonset.tkg01 label.ui-button{background-size:1.125rem}
/* browse navigator */
.ng09 li:before{top:9px}
.ng09 li.record:before{content:none}
.ng09 li a{line-height:14px;}

/* admin menu open/close */
.ng12{display:block;margin-bottom:10px}
.ng12 a{border:1px solid #ccc;text-decoration:none;display:inline-block;height:30px;padding:0 10px;line-height:30px}
.ng12 a.mobileMenuOpen{display:none}
.ng12 a i{font-size:1.5rem;margin-left:5px;vertical-align:middle}
/* 메인 맞춤이용 안내*/
.ng14{margin-bottom:2rem;padding-top:20px}
.ng14 .firstVisit{float:none;width:100%;padding:2rem 1.5rem;margin-bottom:2rem;background-size:100% auto}
.ng14 dl{float:none;width:auto}
.ng14 dl dt{font-size:1.5rem;line-height:1.5rem;color:#333;margin-bottom:1.25rem;}
.ng14 dl ul{border:1px solid #cbcbcb}
.ng14 dl li{border-top:1px solid #cbcbcb;position:relative}
.ng14 dl li:first-child{border-top:none}
.ng14 dl li:after{content:"";position:absolute;top:0.8rem;right:1rem;display:block;width:1.3rem;height:1.3rem;background:url(../images/icon_play.png) no-repeat 0 0;background-size:cover;z-index:1}
.ng14 dl li a{display:block;padding:0 1rem;height:3rem;line-height:3rem;background-color:#e4e4e4;font-size:1rem;color:#333}
.ng14 dl li a:hover{text-decoration:none;background-color:#666;color:#fff}

/* sns share buttons */
.ng15 li a i{width:20px;height:20px;line-height:20px;border-radius:10.5px;font-size:1rem}
.ng15 li a:active i{background-color:#333;color:#fff}

.ng16{display:none}
.ng16.collectionPicture{display:block}
.ng16.collectionPicture li{width:auto}
.ng16.collectionPicture li a{padding:0 2rem}

.m_ng16{display:block;margin-bottom:1rem;overflow:hidden;padding:2rem 1rem;border-top:1px solid #ddd;border-bottom:1px solid #ddd}
.m_ng16 label{float:left;width:30%;color:#333;font-size:1.125rem}
.m_ng16 select{float:left;width:70%;height:2.4rem;font-size:1.125rem}

.ng17 h4{font-size:1rem}
.ng17 ul li a{font-size:1rem}

.ng17n li{width:48.3%;margin-right:3%;margin-bottom:3%}
.ng17n li.l2, .ng17n li.l6, .ng17n li.l10, .ng17n li.l14{margin-right:0}

.ng18_01 .pagingA{float:none}
.ng18_01 .slick-dots{text-align:center}
.ng18_01 .slick-dots li{width:15px}
.ng18_01 .slick-dots li button{width:15px;height:15px;border-radius:7.5px}
.ng18_01 .snsA{float:none;margin-top:2rem}


.ng22 li{margin-left:10px}
.ng22 li dl{padding-left:10px}
 
/* popup */
.pp01 .popupBox{width:100% !important;padding:10px;box-sizing:border-box;background-color:#fff;z-index:15;/*margin-top:-150px !important*/}
.pp01 .popupBox a.closeB{position:absolute;width:18px;height:18px;top:10px;right:10px;background-image:url(../images/btn_close03.png)}
#popup_member_type.pp01 .popupBox{width:33rem}
.pp01_01 .popupBox{width:100% !important;}
.pp01_01 .popupBox .th03{border-bottom:2px solid #ccc}
.pp01_01 .popupBox a.closeB{top:10px;right:10px;width:1.25rem;height:1.25rem;;background:url(../images/btn_close03.png) no-repeat 0 0;background-size:cover}
#popup_report_data_error .popupBox{margin-top:0 !important}
#popup_report_data_error .inputGroup{max-height:14rem}
#popup_report_data_error .input{margin-bottom:0.5rem}
#popup_report_data_error .input a.close{top:0.8rem;right:0.8rem}
#popup_report_error .popupBox{margin-top:0 !important}
.pg01.rightF{text-align:center}

.pp01 .auOr{padding-top:1rem}
.pp01 .auOr .th05 dt{width:auto}
.pp01 .auOr .leftA{float:none;width:auto;margin-bottom:1.5rem}
.pp01 .auOr .leftA .tbl03{border-bottom:3px solid #ddd;padding-bottom:1rem}
.pp01 .auOr .rightA{float:none;width:auto}

#popup_main_open .popupBox{max-width:90%;margin:0 5%;position:fixed}
#popup_main_open .popupBox a.closeB{position:absolute;top:-3.125rem;right:0px;display:block;width:1.875rem;height:1.875rem;;background:url(../images/btn_close02.png) no-repeat 0 0;text-indent:-9999px;background-size:cover}
#popup_main_open .movieA{position:relative;height:0;padding-bottom:56.25%;min-height:inherit}
#popup_main_open .movieA iframe{position:absolute;width:100%;height:100%;}
  
/* common list */
.tbl01{overflow-x:scroll}
.tbl01 table{min-width:40rem}
.tbl01 thead th{padding:0.5rem}
.tbl01 tbody td{padding:0.5rem}
.tbl01 tbody td.title{text-align:left}
.tbl01 tbody td.title a{font-size:1rem;color:#333;font-weight:600}
.tbl01 tbody td a:hover{color:#1e5eff}
.tbl01.noticeList .t02{width:50%;text-align:left}
.tbl01.noticeList th.t02{text-align:center}
.tbl01.noticeList .t02 a{display:block;line-height:1.2rem;width:auto;text-overflow:inherit;white-space:inherit;word-wrap:inherit}
.tbl01.emailList .t02{width:40%;}
.tbl01.emailList .t02 a{display:block;word-break:break-all}
.tbl01.memberList .t02{width:40%;}
.tbl01.memberList .t02 a{display:block;word-break:break-all}
.tbl01.memberList .btn03{min-width:6rem;white-space:nowrap}
.tbl01.imageTileList td.t02{width:8rem}
.tbl01.imageTileList td.t02 a{width:8rem;height:5.7rem}
.tbl01.imageTileList td.t02 a img{width:8rem;min-height:5.7rem}
.tbl01.imgCollection td.t01 a{width:4rem}
.tbl01.imgCollection td.t02{width:45%}
.tbl01.bookmarkList .t01{width:55%}
  
.tbl01.adminRPL th{padding:0.6rem;font-size:0.8rem}
.tbl01.adminRPL td{padding:0.6rem;font-size:0.8rem}
.tbl01.adminRPL td.title a{font-size:0.8rem}
.tbl01.adminRPL .t01{display:none}
.tbl01.adminRPL .t02{width:30%}
.tbl01.adminRPL .t03{display:none}
.tbl01.adminRPL .t04{display:none}

/* 관리자 요청기록 */
.tbl02 tbody td{padding:0.5rem}
.tbl02 tbody td.title a{font-size:1rem}
.tbl02.requestHistory .t01{display:none}
.tbl02.requestHistory td.t02{font-size:8px}
.tbl02.requestHistory .t03{width:45%}
.tbl02.requestHistory td.t04{font-size:8px}
.tbl02.requestHistory td.t05 .btn03{padding:0 5px}
.tbl02.requestHistory .title a{display:block;line-height:1.2rem;width:auto;text-overflow:inherit;white-space:inherit;word-wrap:normal;overflow:inherit}

/* browse view table */
.tbl03{margin-bottom:10px}
.tbl03 table th{width:25%}
.tbl03 table td.ccl img{height:20px}
.tbl03.collectionView table{width:100%;float:none;margin-bottom:1rem;border-bottom:1px solid #ccc}
.tbl03.collectionView .rightC{width:auto;float:none}
.tbl03.collectionView .flexible *{min-height:0}
  
.tbl03.collectionView2 table{width:100%;float:none;margin-bottom:1rem;border-bottom:1px solid #ccc}
.tbl03.collectionView2 .rightC{width:auto;float:none;height:200px !important;margin-bottom:2rem}
.tbl03.collectionView2 .flexible *{min-height:0}


/* main headline*/
.tc01 a.more{top:20px;background-size:5.2px 8px}

.tc02{margin-top:0;padding:15px}
.tc02 dt{font-size:1.5rem;line-height:2rem;font-weight:600;color:#333;margin-bottom:1rem}
.tc02 dd{font-size:1rem}
.tc02 dd a{font-size:1rem}
.tc02 form{margin-bottom:1rem}

.tc03.infoBox{padding:1.375rem;}
.tc03.infoBox .th03{font-size:1.2rem;padding-bottom:.7rem;margin-bottom:1rem;}
.tc03.infoBox .block{display:block;}
.tc03.infoBox span:nth-child(2):before{display:none;}
/* user info */
.tc05{display:block;width:auto}
.tc05 .picA{display:block;width:auto;height:auto;text-align:center;padding:1.875rem 0}
.tc05 .infoA{display:block;height:auto;padding:1.875rem}
.tc05 .infoA ul{border-bottom:1px solid #ccc;padding:1.875rem 0 3.125rem;margin-bottom:1.875rem}
.tc05 .infoA ul li{line-height:2rem;font-size:1rem}
.tc05 .infoA ul li span{display:inline-block;width:25%;font-weight:600}
.tc05 .infoA ul li a{color:#1e5eff;margin-left:2%}
.tc05 .infoA ul li em{margin-left:2%}
.tc05 .infoA .btn01{float:none;display:block}
/* 아이템 추가 */
.tc06 .searchA button{width:25.7%;padding:0}

/* 관리자 요청 상세 */
.tc07{padding:15px}
.tc07 dl{margin-bottom:0}
.tc07 dl dt{width:30%}
.tc07 dl dd{width:70%}
/* selection notice */
.tc10 dd p{width:65%}
.tc10 dd a{width:30%;padding:0.4rem 1%;position:relative;top:0}

.tc11 .topBtn .btn02{padding:0 10px}

.tc12 a{height:20rem;background-position:center bottom -4rem}
  
/* collection detail topic */
.tc13 .thumb{margin-bottom:0.5rem}
.tc13 .thumb img{display:block}
.tc13 .info{position:static;padding:0;margin-left:10px}
.tc13 .info em{line-height:1.4rem;display:block}
  
/* collection detail description */
.tc14 p{line-height:1.5rem}
/* 고객¬¸ì ì»¤ë®¤ëí° ìë´ê¸ */
.tc15{margin:0 1rem 2rem}
.tc15 p{float:none;width:auto;margin-bottom:1rem;line-height:1.6rem}
.tc15 .btn01{float:none}

/* ë°ê°ë±ë¡ ì ì²­ë´ì­ ë³´ê¸°*/
.tc16{margin-bottom:3rem}
.tc16 .requestA{padding:0 0 2rem}
.tc16 .requestA table{border-spacing:6px}
.tc16 .requestA table th{padding-top:0;vertical-align:middle;width:20%}
.tc16 .requestA table td{padding:0.3rem 0.8rem;line-height:1.4rem}
.tc16 .tbl01{padding:0 0 3rem;border-top:none;border-bottom:none}
.tc16 .tbl01 .t01{display:none}
.tc16 .tbl01 .t03{display:none}
.tc16 .tbl01 .t04{display:none}
.tc16 .tbl01 .t05{display:none}
.tc16 .tbl01 .t07 button{vertical-align:middle;width:4rem;padding:0}
  
.tc16 .btnA{text-align:center}
.tc16 .btnA a{width:40%;vertical-align:top}
.tc16 .btnA .btn01{margin-left:2%}

.tc16.adminMode .requestA table th{width:25%}
.tc16.adminMode .tbl01 table td.t02{width:50%}

/* ìë¸íì´ì§ ì ëª© */
.th01{margin-bottom:1rem}
.th01 > .dt h1{margin-right:0;font-size:24px}
.th01_01{border-bottom:none}
.th01_01 > .dt{margin-bottom:1.25rem;float:none}
.th01_02 > .dt h1{margin-right:7rem}
.th01_02 > .dt .link .btn01{padding:0 10px}
.th01 > .dd{margin-right:0}
.th01_02 .tc10{clear:both;border-top:1px solid #ccc;padding-top:1.2rem}
.th01_03 > .dt .link{bottom:-3.2rem}
.th01_03 > .dt h1{margin-right:0;line-height:1.5}


/* browse view headline */
.th05 .dt{width:100%;padding-left:0;margin-bottom:0.5rem;}
.th05 .dt em{margin-bottom:0.5rem}
.th05 .dt a{display:none}
.th05 .dt strong{word-break:keep-all;font-size:1.675rem;}

.th09{margin-bottom:1rem}
.th09 .banner{background-size:auto 100%;height:10rem}
.th09 dl dt,
.th09 dl dd{float:none;width:inherit;display:block;}
.th09 dl dt{margin:0 0 1rem 0}

/* main header banner info */
.td03{border-radius:0}
.td03 i{line-height:1.4rem;vertical-align:bottom}

/* etc */
#seoul-gnb-plugin .seoul-gnb-holder{margin: 0 10px !important}

}


@media all and (min-width:961px) and (max-width:1280px){
html{font-size:14px}
.inner{margin:0 40px}
.innerS{max-width:944px;margin:0 auto}
header.hd02{padding:0 40px}
.fc04_04 .conBody{background:none}
.fc14 .outer{width:auto;margin:0}
.con01 .unit02 .documents li{margin:0 3rem}
.con02 .unit{padding:1.6rem 0}
.con02 .unit h2{font-size:2rem;line-height:2.6rem;margin-bottom:1.2rem}
.con02 .unit .picture{margin-bottom:2rem}
.con02 .unit .picture dt p{font-size:1rem;line-height:1.4rem;margin-bottom:1.3rem}
.con02 .unit .picture dd img{margin-bottom:0.5rem}
.con02 .unit .picture dd p strong{font-size:0.8rem;margin-bottom:0.15rem}
.con02 .unit .picture dd p em{font-size:0.7rem;line-height:1rem}
.con02 .unit .picture dd .btn01{height:2.8rem;line-height:2.8rem}
.con02 .unit01{padding-bottom:25rem}
.con02 .unit02{padding-bottom:17rem}
.con02 .unit03 .type03 dd{margin-bottom:1.5rem}

.tc13 .info{position:absolute;bottom:40px;left:40px;margin-left:0;padding-bottom:20px;display:block}
.lc15 li dl dd {margin-right: 0}
}

@media all and (min-width:1281px) and (max-width:1440px){
html{font-size:16px}
.inner{max-width:1140px;margin:0 auto}
.innerS{max-width:944px}
.fc14 .outer{width:auto;margin:0}
.con02 .unit{padding:2rem 0}
.con02 .unit h2{font-size:2.5rem;line-height:3.2rem;margin-bottom:1.5rem}
.con02 .unit .picture{margin-bottom:2.2rem}
.con02 .unit .picture dt p{font-size:1.2rem;line-height:1.5rem;margin-bottom:1.6rem}
.con02 .unit .picture dd img{margin-bottom:0.7rem}
.con02 .unit .picture dd p strong{font-size:1rem;margin-bottom:0.2rem}
.con02 .unit .picture dd p em{font-size:0.7rem;line-height:1rem}
.con02 .unit .picture dd .btn01{height:2.8rem;line-height:2.8rem}
  
.con02 .unit01{padding-bottom:29rem}
.con02 .unit02{padding-bottom:17rem}

}


@media all and (min-width:1441px){
html{font-size:16px}
header.hd01{background-size:100%}
.inner{max-width:1140px;margin:0 auto}
.innerS{max-width:944px}
.fc14 .outer{width:1440px;margin:0 auto}
}

/* main header */
@media all and (max-height:760px){
.hd01{font-size:11px}
header.hd01 .inner2{padding:0 4.375em 0 4.375em}
header.hd01 .lg01{margin-bottom:4em}
header.hd01 nav .menu{margin-bottom:5em}
header.hd01 nav .menu li{margin-bottom:2.25em}
header.hd01 nav .menu li a{height:1.8em;font-size:3em;line-height:1em}

header.hd01.searchMode nav .menu{margin-bottom:2em}
header.hd01.searchMode nav .menu li{margin-bottom:1.2em}
header.hd01.searchMode nav .menu li a{height:3em;font-size:1.5em;line-height:1.5em}
header.hd01.searchMode .cf02{margin-bottom:4em}

/*
.ng04 li{margin-top:0.5em}
.ng04 li a{font-size:2em;line-height:2em}
*/
  
.cf02 fieldset input{height:3em;font-size:1.4em}
.cf02 fieldset button{height:3em;font-size:1.4em;line-height:1.4em}
.cf02 .ui-selectmenu-button{height:3em;font-size:1.4em}
.cf02 .ui-selectmenu-button span.ui-selectmenu-text{height:3em;line-height:3em}
}

@media all and (min-height:761px) and (max-height:840px) {
.hd01{font-size:15px}
header.hd01 .inner2{padding:0 4.375em 0 4.375em}
header.hd01 .lg01{margin-bottom:4em}
header.hd01 nav .menu{margin-bottom:5em}
header.hd01 nav .menu li{margin-bottom:2.25em}
header.hd01 nav .menu li a{height:1.8em;font-size:2.5em;line-height:1em}

header.hd01.searchMode nav .menu{margin-bottom:2em}
header.hd01.searchMode nav .menu li{margin-bottom:1.2em}
header.hd01.searchMode nav .menu li a{height:3em;font-size:1.5em;line-height:1.5em}
header.hd01.searchMode .cf02{margin-bottom:4em}

.ng04 li{margin-top:0.5em}
.ng04 li a{font-size:2em;line-height:2em}

.cf02 fieldset input{height:3em;font-size:1.4em}
.cf02 fieldset button{height:3em;font-size:1.4em;line-height:1.4em}
.cf02 .ui-selectmenu-button{height:3em;font-size:1.4em}
.cf02 .ui-selectmenu-button span.ui-selectmenu-text{height:3em;line-height:3em}


}

@media all and (max-width:425px){

.lc12 li a .thumb{display:block;float:none;width:70%;border:solid 1px #eee;box-sizing:border-box;margin:0 auto 1rem;vertical-align:top;max-height:inherit;font-size:0;}
.lc12 li a .conA strong{font-size:1.5rem;margin-bottom:0;padding-left:0;clear:both;}

.lc13 ul li{height:17rem;}
.lc13 ul li strong{font-size:1.1rem;}
.lc13 ul li .thumb{height:10rem;margin-bottom:0.6rem}

}
